.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    display: grid;
    gap: 5px;
    place-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large {
    width: 200px;
}